version: '3'
services:
  sonarqube:
    #command: --storage-driver=overlay2
    image: sonarqube:8-community
    privileged: true
    ports:
      - "9000:9000"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "sonarqube-data:/opt/sonarqube/data"
      - "sonarqube-log:/opt/sonarqube/logs"
      - "sonarqube-extension:/opt/sonarqube/extensions"
    #environment:
    #  - DOCKER_TLS_CERTDIR=/certs
    networks:
      - sonar-nexus
        #name: jenkins-docker-compose_jenkins
        #aliases:
          #- docker
  nexus3:
    #depends_on:
    #  - jenkins-docker
    image: sonatype/nexus3:3.32.0
    ports:
      - "8081:8081"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "nexus-data:/nexus-data"
    #environment:
    #  - DOCKER_HOST=tcp://docker:2376
    #  - DOCKER_CERT_PATH=/certs/client
    #  - DOCKER_TLS_VERIFY=1
    networks:
      - sonar-nexus
        #name: jenkins-docker-compose_jenkins
volumes:
  sonarqube-data:
  sonarqube-log:
  sonarqube-extension:
  nexus-data:
#networks:
  #jenkins:
    #name: jenkins-docker-compose_jenkins
  # Use a custom driver
    #driver: bridge
networks:
  sonar-nexus:
    driver: bridge